/* Media Queries
-------------------------------------------------------------- */
@media only screen and (max-width: 1800px) {
  .tf-slider-item {
    padding-left: 0;
    padding-right: 0;
  }
  .tf-slider-item .content-inner {
    margin-right: 30px;
  }
  .tf-slider-item .image img {
    width: 45%;
  }
  .tf-slider-item .image img:last-child {
    display: none;
  }
  .tf-slider-item.style-3 {
    padding-top: 100px;
  }
  .tf-slider-item.style-3 .content-inner {
    padding-top: 0;
    margin-right: 30px;
  }
  .tf-slider-item.style-3 .image img {
    width: 100%;
  }
  .tf-slider-item.style-3 .image .img-1 {
    display: none;
  }
}
@media only screen and (max-width: 1450px) {
  header #site-header-inner #site-logo {
    margin-right: 30px;
  }
  #main-nav > ul > li {
    padding-right: 15px;
  }
  .sign-in-form {
    width: unset;
  }
}
@media only screen and (max-width: 1366px) {
  .sidebar.sidebar-collection,
  .footer .widget.widget-infor {
    padding-right: 0%;
  }
  .footer .widget.widget-subcribe {
    margin: 0px;
  }
  .tf-item-detail-inner,
  .content-detail,
  .action-box .action-box-inner .group-btn,
  .action-box .action-box-inner .content,
  .action-box .action-box-inner .title {
    margin-left: 0;
  }
  .tf-item-detail-image .countdown-inner {
    min-width: 95%;
  }
  .detail-inner {
    margin-right: 0px;
  }
  .detail-inner .post-navigator li {
    max-width: 48%;
  }
  .content-detail .contact-infor .contact-infor-box {
    width: calc(100% - 30px);
    margin-bottom: 20px;
  }
  .content-detail .contact-infor .contact-infor-box:last-child {
    margin-left: 30px;
    margin-right: 0;
  }
  .tf-item-detail-image img,
  .team-details .slider-item img {
    width: 100%;
  }
  .tf-about.style-2 .tf-heading {
    padding-right: 0;
  }
}
@media only screen and (max-width: 1300px) {
  header #site-header-inner .header-right .tf-button, header #site-header-inner .header-right .user, header #site-header-inner .header-right .mode-switch {
    margin-right: 10px;
  }
  header #site-header-inner .header-right .tf-button.connect {
    display: none;
  }
}
@media only screen and (max-width: 1199px) {
  header #site-header-inner .header-right .tf-button.discord {
    display: none;
  }
  .sign-in-form {
    width: 100%;
    margin-left: 0;
  }
  .tf-work.style-2 {
    padding: 30px 20px;
  }
  .countdown.style-2 .countdown__item {
    margin-right: 11px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 1100px) {
  .tf-roadmap-style-thumb .content-rm-thumb {
    padding: 30px;
  }
  .tf-roadmap-style-thumb .content-rm-thumb .content-left {
    width: 60%;
  }
  .tf-roadmap-style-thumb .content-rm-thumb .content-right {
    margin-left: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .tf-slider-item {
    padding-top: 0;
    padding-bottom: 100px;
  }
  .tf-slider-item .image img {
    width: 95%;
  }
  .tf-slider-item .image img:nth-child(2) {
    display: none;
  }
  .tf-slider-item.style-2 {
    padding: 100px 0 0;
  }
  .tf-slider-item.style-3 .image .img-1, .tf-slider-item.style-3 .image .img-2 {
    display: none;
  }
  .mobile-button {
    display: block;
  }
  header #site-header-inner .header-right .mode-switch {
    margin-right: 50px;
  }
  .tf-item-detail-image,
  .team-details,
  .detail-inner {
    margin-bottom: 60px;
  }
  .content-detail .social-item {
    padding-bottom: 60px;
  }
  .tf-about.style-2 .tf-heading {
    margin-top: 0;
  }
  .tf-about.style-2 .tf-button {
    margin-bottom: 60px;
  }
  .tf-roadmap.style2 {
    width: 100%;
  }
  .footer.style-2 .bottom .content-left img {
    margin-right: 20px;
  }
  .footer.style-2 .bottom {
    display: block;
    text-align: center;
  }
  .footer.style-2 .bottom .content-left, .footer.style-2 .bottom .menu-bottom {
    justify-content: center;
  }
  .footer.style-2 .bottom .menu-bottom li {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 830px) {
  .tf-slider-item.style-3 .image {
    display: none;
  }
  .tf-slider-item.style-3 .content-inner,
  .tf-slider-item .content-inner {
    width: 100%;
    margin-right: 0;
  }
  .tf-slider-item .content-inner .heading,
  .tf-slider-item .content-inner .sub-heading {
    max-width: 100%;
  }
  .tf-slider-item.style-3 {
    padding: 80px 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .modal .modal-dialog .modal-content {
    margin: 0 15px;
  }
  .content-detail .social-item {
    padding-bottom: 0px;
  }
  .mb60 {
    margin-bottom: 50px;
  }
  .modal .modal-dialog .modal-content .modal-body {
    padding-left: 15px;
    padding-right: 15px;
  }
  .modal .modal-dialog .modal-content .modal-body .tf-wallet::after {
    right: 15px;
  }
  .modal .modal-dialog .modal-content .modal-body .tf-wallet {
    padding-left: 15px;
  }
  .tf-contact .image,
  .tf-roadmap-style-thumb .content-rm-thumb .content-left {
    margin-bottom: 50px;
  }
  .tf-roadmap-style-thumb .content-rm-thumb .content-right {
    margin-left: 0;
  }
  .tf-roadmap-style-thumb .content-rm-thumb .content-left {
    width: 100%;
  }
  .tf-section {
    padding-bottom: 70px !important;
  }
  .tf-roadmap .sl-roadmap {
    padding-bottom: 0px;
  }
  .team-page .tf-partner-sec,
  .home-1 .tf-partner-sec {
    padding-bottom: 173px !important;
  }
  .home-3.home-1 .tf-partner-sec {
    padding-bottom: 73px !important;
  }
  .section-roadmap2 {
    padding-top: 60px;
    padding-bottom: 160px;
  }
  .home-2 .section-work {
    padding: 60px 0 62px;
  }
  .tf-collection {
    padding-bottom: 160px;
  }
  .sign-in-form.style2,
  .sign-in-form {
    padding-bottom: 60px;
    margin-top: 60px;
  }
  .tf-roadmap-style-thumb .content-rm-thumb {
    display: block;
  }
  .footer .bottom .social-item li {
    margin-right: 30px;
  }
  .comming-soon.error-page .comming-soon-inner .title {
    font-size: 75px;
  }
  .tf-infor-wrap .tf-infor {
    width: calc(100% - 30px);
    margin-bottom: 30px;
  }
  .comming-soon .comming-soon-inner {
    padding: 0 15px;
  }
  .sidebar.sidebar-collection {
    margin-bottom: 60px;
  }
  .tf-roadmap.style2 {
    padding: 0;
    display: block;
  }
  .tf-roadmap.style2::before, .tf-roadmap.style2::after {
    display: none;
  }
  .tf-roadmap.style2 .roadmap-box-2 {
    margin: 0 0 20px 0 !important;
    width: 100%;
    max-width: 100%;
  }
  .tf-roadmap.style2 .roadmap-box-2 .shape-circle {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .action-box .action-box-inner .group-btn .tf-button {
    padding: 12px 24px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  .action-box .action-box-inner {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer .bottom {
    display: block;
    text-align: center;
  }
  .footer .bottom .social-item {
    justify-content: center;
  }
  .footer .bottom .copy-right {
    margin-bottom: 10px;
  }
  .detail-inner #comments .comment-form fieldset {
    width: 100%;
    padding-right: 0;
  }
  .detail-inner #comments .comment-form fieldset:nth-child(2n) {
    width: 100%;
    padding-left: 0px;
    padding-right: 0;
  }
  .tf-contact .comment-form fieldset:first-child {
    width: 100%;
    margin-right: 0px;
  }
  .tf-contact .comment-form fieldset:nth-child(2) {
    width: calc(100% - 0px);
  }
  .comming-soon .comming-soon-inner .title {
    font-size: 40px;
    letter-spacing: 0;
  }
  .countdown .countdown__item {
    margin-right: 13px;
  }
  .countdown .countdown__item .countdown__value {
    width: 80px;
    height: 80px;
    font-size: 40px;
  }
  .countdown.style-2 .countdown__value {
    width: unset;
    height: unset;
  }
  .comming-soon .comming-soon-inner .social-item {
    flex-wrap: wrap;
  }
  .comming-soon .comming-soon-inner .social-item li {
    margin-bottom: 20px;
  }
  .comming-soon .comming-soon-inner .group-btn .tf-button {
    margin-right: 4px;
  }
  .tf-item-detail-inner .infor-item-wrap .infor-item-box {
    width: calc(50% - 16px);
  }
  .tf-item-detail-inner .group-btn .group-2 {
    margin-right: -20px;
  }
  .tf-item-detail-inner .group-btn .tf-button.style-2 {
    width: calc(50% - 20px);
    margin-right: 20px;
  }
}
@media only screen and (max-width: 530px) {
  .tf-collection-inner .top-option {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }
  .tf-collection-inner .filter-content {
    padding: 12px;
  }
  .tf-collection-inner .top-option .heading {
    margin-bottom: 10px;
  }
  .tf-collection-inner .filter-content li a {
    padding: 7px 6px;
    margin-right: 5px;
  }
  .tf-collection-inner .filter-content li a i {
    margin-left: 5px;
  }
}
@media only screen and (max-width: 420px) {
  .countdown .countdown__item .countdown__value {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
  .countdown .countdown__item .countdown__label {
    font-size: 12px;
  }
}
.footer {
  background: url("../images/background/bg-footer.jpg") center center no-repeat;
  background-size: cover;
}
.footer .footer-inner {
  padding: 61px 0 40px;
}
@media only screen and (max-width: 1024px) {
  .footer .widget {
    padding-right: 0 !important;
    padding-bottom: 0;
    margin-left: 0 !important;
  }
}
.footer .widget.widget-infor {
  padding-right: 30%;
  margin-top: 0;
}
.footer .widget.widget-infor .logo {
  margin-bottom: 13px;
}
.footer .widget.widget-infor .content {
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}
@media only screen and (max-width: 1024px) {
  .footer .widget.widget-infor {
    margin-bottom: 40px;
  }
}
.footer .widget.widget-menu {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.footer .widget.widget-menu .menu {
  width: 47%;
}
.footer .widget.widget-menu .menu ul li {
  padding-bottom: 6px;
}
.footer .widget.widget-menu .menu ul li a {
  font-size: 14px;
  line-height: 22px;
  color: #C2C3C5;
}
.footer .widget.widget-menu .menu ul li a:hover {
  color: var(--primary-color5);
}
.footer .widget.widget-menu .menu ul li:last-child {
  padding-bottom: 0;
}
@media only screen and (max-width: 1024px) {
  .footer .widget.widget-menu {
    margin-bottom: 40px;
  }
}
.footer .widget.widget-subcribe {
  margin-left: -14px;
  margin-right: 23px;
}
.footer .widget.widget-subcribe .widget-title {
  margin-bottom: 20px;
}
.footer .widget.widget-subcribe #subscribe-form {
  position: relative;
}
.footer .widget.widget-subcribe #subscribe-form input {
  width: 100%;
  padding: 15px 46px 15px 23px;
  font-size: 16px;
  line-height: 26px;
  color: #C2C3C5;
}
.footer .widget.widget-subcribe #subscribe-form input::placeholder {
  font-size: 16px;
  color: #C2C3C5;
}
.footer .widget.widget-subcribe #subscribe-form input:focus {
  border-color: var(--primary-color3);
}
.footer .widget.widget-subcribe #subscribe-form .tf-button {
  right: 0;
  position: absolute;
  height: 100%;
  padding: 0 35px;
  background-color: var(--primary-color5);
  color: #040B11;
}
.footer .widget.widget-subcribe #subscribe-form .tf-button::before {
  background-color: transparent;
}
.footer .widget.widget-subcribe #subscribe-form .tf-button:hover {
  border-color: #21E786;
  background-color: transparent;
  color: #fff;
}
.footer .widget .widget-title {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 12px;
}
.footer .bottom {
  border-top: 1px solid #434343;
  padding: 13px 0 14px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
}
.footer .bottom .social-item {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.footer .bottom .social-item li {
  margin-right: 45px;
}
.footer .bottom .social-item li:last-child {
  margin-right: 0;
}
.footer .bottom .social-item li a {
  font-size: 15px;
  color: #fff;
}
.footer .bottom .social-item li a:hover {
  color: var(--primary-color5);
}
.footer .bottom .copy-right {
  color: #C2C3C5;
  font-size: 14px;
  line-height: 22px;
}
@media only screen and (max-width: 767px) {
  .footer .bottom {
    flex-wrap: wrap;
    justify-content: center !important;
  }
}
.footer.style-2 {
  text-align: center;
}
.footer.style-2 .title {
  color: #fff;
  margin-bottom: 10px;
}
.footer.style-2 .content {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #C2C3C5;
  margin-bottom: 39px;
}
.footer.style-2 .group-btn {
  margin-left: 2px;
  margin-bottom: 40px;
}
.footer.style-2 .group-btn .tf-button {
  padding: 12px 24px;
  margin-right: 20px;
}
@media only screen and (max-width: 402px) {
  .footer.style-2 .group-btn .tf-button {
    margin-right: 0;
    width: 70%;
  }
}
.footer.style-2 .group-btn .tf-button i {
  margin-right: 10px;
}
.footer.style-2 .group-btn .tf-button:last-child {
  margin-right: 0;
}
.footer.style-2 .group-btn .tf-button.discord {
  background-color: #5865F2;
  color: #fff;
}
.footer.style-2 .group-btn .tf-button.discord::before {
  background-color: #21E786;
}
.footer.style-2 form {
  max-width: 690px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 31px;
}
.footer.style-2 form input {
  padding: 17px 24px 13px;
  color: #C2C3C5;
}
.footer.style-2 form input::placeholder {
  color: #C2C3C5;
}
.footer.style-2 form .tf-button {
  position: absolute;
  right: -50px;
  top: 0;
  height: 90%;
  padding: 0 36px;
}
.footer.style-2 .social-item {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}
.footer.style-2 .social-item li {
  width: 50px;
  height: 50px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  background-color: rgba(194, 195, 197, 0.15);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer.style-2 .social-item li:last-child {
  margin-right: 0;
}
.footer.style-2 .social-item li a {
  color: #fff;
}
.footer.style-2 .social-item li:hover {
  background-color: #21E786;
  cursor: pointer;
}
.footer.style-2 .footer-inner {
  padding-bottom: 79px;
}
.footer.style-2 .bottom-inner {
  border-top: 1px solid #434343;
}
.footer.style-2 .bottom {
  border: none;
}
.footer.style-2 .bottom .content-left {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: left;
}
.footer.style-2 .bottom .content-left img {
  margin-right: 61px;
}
@media only screen and (max-width: 767px) {
  .footer.style-2 .bottom .content-left {
    flex-wrap: wrap;
  }
}
.footer.style-2 .bottom .menu-bottom {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: left;
}
@media only screen and (max-width: 767px) {
  .footer.style-2 .bottom .menu-bottom {
    flex-wrap: wrap;
  }
}
.footer.style-2 .bottom .menu-bottom li {
  margin-right: 47px;
  padding: 0;
}
.footer.style-2 .bottom .menu-bottom li a {
  font-size: 14px;
  line-height: 22px;
  color: #C2C3C5;
}
.footer.style-2 .bottom .menu-bottom li a:hover {
  color: var(--primary-color5);
}
.footer.style-2 .bottom .menu-bottom li:last-child {
  margin-right: 0;
}

#scroll-top {
  border-radius: 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  bottom: 23px;
  cursor: pointer;
  display: block;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  position: fixed;
  right: 14px;
  text-align: center;
  width: 50px;
  z-index: 999;
}

#scroll-top:after, #scroll-top:before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease;
  width: 100%;
}

#scroll-top:before {
  background: var(--primary-color5);
  z-index: -1;
}

#scroll-top::after {
  color: var(--background-body);
  content: "\f077";
  font-family: "Font Awesome 5 Pro";
  font-size: 18px;
  font-weight: 600;
}

/*# sourceMappingURL=footer.css.map */
