/* Media Queries
-------------------------------------------------------------- */
@media only screen and (max-width: 1800px) {
  .tf-slider-item {
    padding-left: 0;
    padding-right: 0;
  }
  .tf-slider-item .content-inner {
    margin-right: 30px;
  }
  .tf-slider-item .image img {
    width: 45%;
  }
  .tf-slider-item .image img:last-child {
    display: none;
  }
  .tf-slider-item.style-3 {
    padding-top: 100px;
  }
  .tf-slider-item.style-3 .content-inner {
    padding-top: 0;
    margin-right: 30px;
  }
  .tf-slider-item.style-3 .image img {
    width: 100%;
  }
  .tf-slider-item.style-3 .image .img-1 {
    display: none;
  }
}
@media only screen and (max-width: 1450px) {
  header #site-header-inner #site-logo {
    margin-right: 30px;
  }
  #main-nav > ul > li {
    padding-right: 15px;
  }
  .sign-in-form {
    width: unset;
  }
}
@media only screen and (max-width: 1366px) {
  .sidebar.sidebar-collection,
  .footer .widget.widget-infor {
    padding-right: 0%;
  }
  .footer .widget.widget-subcribe {
    margin: 0px;
  }
  .tf-item-detail-inner,
  .content-detail,
  .action-box .action-box-inner .group-btn,
  .action-box .action-box-inner .content,
  .action-box .action-box-inner .title {
    margin-left: 0;
  }
  .tf-item-detail-image .countdown-inner {
    min-width: 95%;
  }
  .detail-inner {
    margin-right: 0px;
  }
  .detail-inner .post-navigator li {
    max-width: 48%;
  }
  .content-detail .contact-infor .contact-infor-box {
    width: calc(100% - 30px);
    margin-bottom: 20px;
  }
  .content-detail .contact-infor .contact-infor-box:last-child {
    margin-left: 30px;
    margin-right: 0;
  }
  .tf-item-detail-image img,
  .team-details .slider-item img {
    width: 100%;
  }
  .tf-about.style-2 .tf-heading {
    padding-right: 0;
  }
}
@media only screen and (max-width: 1300px) {
  header #site-header-inner .header-right .tf-button, header #site-header-inner .header-right .user, header #site-header-inner .header-right .mode-switch {
    margin-right: 10px;
  }
  header #site-header-inner .header-right .tf-button.connect {
    display: none;
  }
}
@media only screen and (max-width: 1199px) {
  header #site-header-inner .header-right .tf-button.discord {
    display: none;
  }
  .sign-in-form {
    width: 100%;
    margin-left: 0;
  }
  .tf-work.style-2 {
    padding: 30px 20px;
  }
  .countdown.style-2 .countdown__item {
    margin-right: 11px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 1100px) {
  .tf-roadmap-style-thumb .content-rm-thumb {
    padding: 30px;
  }
  .tf-roadmap-style-thumb .content-rm-thumb .content-left {
    width: 60%;
  }
  .tf-roadmap-style-thumb .content-rm-thumb .content-right {
    margin-left: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .tf-slider-item {
    padding-top: 0;
    padding-bottom: 100px;
  }
  .tf-slider-item .image img {
    width: 95%;
  }
  .tf-slider-item .image img:nth-child(2) {
    display: none;
  }
  .tf-slider-item.style-2 {
    padding: 100px 0 0;
  }
  .tf-slider-item.style-3 .image .img-1, .tf-slider-item.style-3 .image .img-2 {
    display: none;
  }
  .mobile-button {
    display: block;
  }
  header #site-header-inner .header-right .mode-switch {
    margin-right: 50px;
  }
  .tf-item-detail-image,
  .team-details,
  .detail-inner {
    margin-bottom: 60px;
  }
  .content-detail .social-item {
    padding-bottom: 60px;
  }
  .tf-about.style-2 .tf-heading {
    margin-top: 0;
  }
  .tf-about.style-2 .tf-button {
    margin-bottom: 60px;
  }
  .tf-roadmap.style2 {
    width: 100%;
  }
  .footer.style-2 .bottom .content-left img {
    margin-right: 20px;
  }
  .footer.style-2 .bottom {
    display: block;
    text-align: center;
  }
  .footer.style-2 .bottom .content-left, .footer.style-2 .bottom .menu-bottom {
    justify-content: center;
  }
  .footer.style-2 .bottom .menu-bottom li {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 830px) {
  .tf-slider-item.style-3 .image {
    display: none;
  }
  .tf-slider-item.style-3 .content-inner,
  .tf-slider-item .content-inner {
    width: 100%;
    margin-right: 0;
  }
  .tf-slider-item .content-inner .heading,
  .tf-slider-item .content-inner .sub-heading {
    max-width: 100%;
  }
  .tf-slider-item.style-3 {
    padding: 80px 0 0;
  }
}
@media only screen and (max-width: 767px) {
  .modal .modal-dialog .modal-content {
    margin: 0 15px;
  }
  .content-detail .social-item {
    padding-bottom: 0px;
  }
  .mb60 {
    margin-bottom: 50px;
  }
  .modal .modal-dialog .modal-content .modal-body {
    padding-left: 15px;
    padding-right: 15px;
  }
  .modal .modal-dialog .modal-content .modal-body .tf-wallet::after {
    right: 15px;
  }
  .modal .modal-dialog .modal-content .modal-body .tf-wallet {
    padding-left: 15px;
  }
  .tf-contact .image,
  .tf-roadmap-style-thumb .content-rm-thumb .content-left {
    margin-bottom: 50px;
  }
  .tf-roadmap-style-thumb .content-rm-thumb .content-right {
    margin-left: 0;
  }
  .tf-roadmap-style-thumb .content-rm-thumb .content-left {
    width: 100%;
  }
  .tf-section {
    padding-bottom: 70px !important;
  }
  .tf-roadmap .sl-roadmap {
    padding-bottom: 0px;
  }
  .team-page .tf-partner-sec,
  .home-1 .tf-partner-sec {
    padding-bottom: 173px !important;
  }
  .home-3.home-1 .tf-partner-sec {
    padding-bottom: 73px !important;
  }
  .section-roadmap2 {
    padding-top: 60px;
    padding-bottom: 160px;
  }
  .home-2 .section-work {
    padding: 60px 0 62px;
  }
  .tf-collection {
    padding-bottom: 160px;
  }
  .sign-in-form.style2,
  .sign-in-form {
    padding-bottom: 60px;
    margin-top: 60px;
  }
  .tf-roadmap-style-thumb .content-rm-thumb {
    display: block;
  }
  .footer .bottom .social-item li {
    margin-right: 30px;
  }
  .comming-soon.error-page .comming-soon-inner .title {
    font-size: 75px;
  }
  .tf-infor-wrap .tf-infor {
    width: calc(100% - 30px);
    margin-bottom: 30px;
  }
  .comming-soon .comming-soon-inner {
    padding: 0 15px;
  }
  .sidebar.sidebar-collection {
    margin-bottom: 60px;
  }
  .tf-roadmap.style2 {
    padding: 0;
    display: block;
  }
  .tf-roadmap.style2::before, .tf-roadmap.style2::after {
    display: none;
  }
  .tf-roadmap.style2 .roadmap-box-2 {
    margin: 0 0 20px 0 !important;
    width: 100%;
    max-width: 100%;
  }
  .tf-roadmap.style2 .roadmap-box-2 .shape-circle {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .action-box .action-box-inner .group-btn .tf-button {
    padding: 12px 24px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  .action-box .action-box-inner {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer .bottom {
    display: block;
    text-align: center;
  }
  .footer .bottom .social-item {
    justify-content: center;
  }
  .footer .bottom .copy-right {
    margin-bottom: 10px;
  }
  .detail-inner #comments .comment-form fieldset {
    width: 100%;
    padding-right: 0;
  }
  .detail-inner #comments .comment-form fieldset:nth-child(2n) {
    width: 100%;
    padding-left: 0px;
    padding-right: 0;
  }
  .tf-contact .comment-form fieldset:first-child {
    width: 100%;
    margin-right: 0px;
  }
  .tf-contact .comment-form fieldset:nth-child(2) {
    width: calc(100% - 0px);
  }
  .comming-soon .comming-soon-inner .title {
    font-size: 40px;
    letter-spacing: 0;
  }
  .countdown .countdown__item {
    margin-right: 13px;
  }
  .countdown .countdown__item .countdown__value {
    width: 80px;
    height: 80px;
    font-size: 40px;
  }
  .countdown.style-2 .countdown__value {
    width: unset;
    height: unset;
  }
  .comming-soon .comming-soon-inner .social-item {
    flex-wrap: wrap;
  }
  .comming-soon .comming-soon-inner .social-item li {
    margin-bottom: 20px;
  }
  .comming-soon .comming-soon-inner .group-btn .tf-button {
    margin-right: 4px;
  }
  .tf-item-detail-inner .infor-item-wrap .infor-item-box {
    width: calc(50% - 16px);
  }
  .tf-item-detail-inner .group-btn .group-2 {
    margin-right: -20px;
  }
  .tf-item-detail-inner .group-btn .tf-button.style-2 {
    width: calc(50% - 20px);
    margin-right: 20px;
  }
}
@media only screen and (max-width: 530px) {
  .tf-collection-inner .top-option {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }
  .tf-collection-inner .filter-content {
    padding: 12px;
  }
  .tf-collection-inner .top-option .heading {
    margin-bottom: 10px;
  }
  .tf-collection-inner .filter-content li a {
    padding: 7px 6px;
    margin-right: 5px;
  }
  .tf-collection-inner .filter-content li a i {
    margin-left: 5px;
  }
}
@media only screen and (max-width: 420px) {
  .countdown .countdown__item .countdown__value {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
  .countdown .countdown__item .countdown__label {
    font-size: 12px;
  }
}
/* Header
-------------------------------------------------------------- */
.header {
  background-color: var(--primary-color7);
  padding-right: 0 !important;
  position: relative;
  z-index: 10;
}
.header #site-header-inner {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: left;
}
.header #site-header-inner #site-logo {
  flex-shrink: 0;
  margin-right: 68px;
}
.header #site-header-inner #main-nav {
  flex-shrink: 1;
}
.header #site-header-inner .header-right {
  margin-left: auto;
  display: inline-flex;
}
.header #site-header-inner .header-right .tf-button, .header #site-header-inner .header-right .user, .header #site-header-inner .header-right .mode-switch {
  margin-right: 21px;
}
.header #site-header-inner .header-right .user, .header #site-header-inner .header-right .mode-switch {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: var(--primary-color6);
  border-radius: 50%;
  display: inline-block;
}
.header #site-header-inner .header-right .tf-button {
  padding: 12px 24px 12px 24px;
  background-color: var(--primary-color4);
  color: #fff;
  display: inline-flex;
  align-items: center;
}
.header #site-header-inner .header-right .tf-button i {
  margin-right: 10px;
}
.header #site-header-inner .header-right .tf-button::before {
  background-color: #21E786;
}
.header #site-header-inner .header-right .tf-button.connect {
  background-color: var(--primary-color5);
  color: #141B22;
  margin-right: 0;
}
.header #site-header-inner .header-right .tf-button.connect i {
  font-size: 20px;
}
.header #site-header-inner .header-right .tf-button.connect::before {
  background-color: transparent;
}
.header #site-header-inner .header-right .tf-button.connect:hover {
  background-color: transparent;
  color: var(--primary-color3);
}
@media only screen and (max-width: 1450px) {
  .header #site-header-inner .header-right .tf-button {
    display: none;
  }
}
.header #site-header-inner .header-right .mode-switcher .moon {
  display: none;
}
.header #site-header-inner .header-right .mode-switcher .sun {
  display: block;
}
@media only screen and (max-width: 1024px) {
  .header #site-header-inner .header-right {
    display: flex;
    align-items: center;
  }
}
.header.absolute {
  position: absolute;
  width: 100%;
  border-bottom: none;
  z-index: 100;
}
@media only screen and (max-width: 1024px) {
  .header #site-header-inner {
    padding: 15px 0;
  }
}

.is_dark #site-header-inner .header-right .mode-switcher .moon {
  display: block;
}
.is_dark #site-header-inner .header-right .mode-switcher .sun {
  display: none;
}

/* Site Logo
-------------------------------------------------------------- */
/* Menu
-------------------------------------------------------------- */
/* Main Nav */
#main-nav ul {
  margin: 0px;
}
#main-nav ul li {
  position: relative;
  list-style: none;
}

#main-nav > ul > li {
  float: left;
  padding: 42px 36px 42px 0px;
}
@media only screen and (max-width: 1200px) {
  #main-nav > ul > li {
    padding: 42px 20px 42px 0px;
  }
}
#main-nav > ul > li > a {
  font-family: "Bakbak One";
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  display: block;
  color: var(--primary-color3);
  padding-right: 27px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
#main-nav > ul > li > a:hover {
  color: var(--primary-color5);
}
#main-nav > ul > li:last-child {
  padding-right: 0;
}
#main-nav > .menu > li.menu-item-has-children > a::after {
  content: "\f107";
  font-family: "Font Awesome 5 Pro";
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Sub Menu */
#main-nav .sub-menu {
  position: absolute;
  top: 80%;
  left: 0;
  width: 220px;
  padding: 5px 0;
  background-color: var(--primary-color8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(15px);
  -moz-transform: translateY(15px);
  -ms-transform: translateY(15px);
  -o-transform: translateY(15px);
  transform: translateY(15px);
  box-shadow: 0px 10px 25px rgba(71, 92, 133, 0.1);
}
#main-nav .sub-menu .sub-menu {
  left: 105%;
  top: 0%;
  opacity: 0 !important;
  visibility: hidden;
}
#main-nav .sub-menu .sub-menu::before {
  display: none;
}
#main-nav .sub-menu li a {
  display: block;
  font-family: "Bakbak One";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 6px 20px;
}
#main-nav .right-sub-menu {
  left: auto;
  right: 0;
}

#main-nav > ul > li > a::before {
  position: absolute;
  content: "";
  width: 70%;
  height: 2px;
  left: 0;
  bottom: -1px;
  background-color: var(--primary-color5);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 1024px) {
  #main-nav > ul > li > a::before {
    display: none;
  }
}

#main-nav > ul > .active > a::before,
#main-nav > ul > li > a:hover::before {
  opacity: 1;
}

#main-nav > ul > li.active > a::before,
#main-nav > ul > li.active .active > a,
#main-nav > ul > li.active > a {
  color: var(--primary-color5);
}

#main-nav li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

#main-nav li .sub-menu li:hover .sub-menu {
  opacity: 1 !important;
  visibility: visible;
}

#main-nav .sub-menu li.current-item a,
#main-nav .sub-menu li a:hover {
  color: var(--primary-color5);
}

#main-nav > ul > li .sub-menu li {
  position: relative;
}
#main-nav > ul > li .sub-menu li a {
  transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
}
#main-nav > ul > li .sub-menu li a.active {
  color: var(--primary-color5);
}
@media only screen and (max-width: 1024px) {
  #main-nav {
    margin: 0 auto;
    width: 40%;
    height: 100vh;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    background-color: var(--primary-color7);
    box-shadow: 0px 3px 16px rgba(47, 83, 109, 0.12);
    transform: translateX(-100%);
    transition: transform 0.5s ease;
  }
  #main-nav .sub-menu {
    background: transparent;
    padding: 15px 0;
  }
  #main-nav .sub-menu li a {
    color: var(--primary-color3);
  }
  #main-nav.active {
    transform: translateX(0);
  }
  #main-nav.active .menu li .sub-menu {
    position: relative;
    display: none;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
  }
  #main-nav.active .menu li .sub-menu::after {
    display: none;
  }
  #main-nav.active .menu li.active .sub-menu {
    display: block;
    transform: translateY(0);
    width: 100%;
    padding-bottom: 0;
  }
  #main-nav .menu {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
  }
  #main-nav .menu li {
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
  }
  #main-nav .menu li a {
    padding: 0 15px;
  }
  #main-nav .menu li ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 20px !important;
  }
  #main-nav .menu li ul li:last-child {
    border: none;
  }
  #main-nav .menu li.menu-item-has-children > a::after {
    content: "\f107";
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    position: absolute;
    right: 20px;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  #main-nav .menu li.menu-item-has-children.active {
    padding-bottom: 5px;
  }
}
@media only screen and (max-width: 767px) {
  #main-nav {
    width: 60%;
  }
}

/* Mobile Menu */
#main-nav-mobi {
  display: block;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999999;
  background-color: var(--primary-color8);
}
#main-nav-mobi ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
#main-nav-mobi ul li {
  margin: 0;
  text-align: left;
  cursor: pointer;
  padding: 0;
  border-top: 1px solid rgba(138, 138, 160, 0.3);
  position: relative;
}
#main-nav-mobi ul li:first-child {
  border-top: 0px;
}

/* Mobile Menu Button */
.mobile-button {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: none;
  position: relative;
  width: 26px;
  height: 26px;
  top: auto;
  right: auto;
  background-color: transparent;
  cursor: pointer;
  transform: translateY(0);
}
.mobile-button:before, .mobile-button:after,
.mobile-button span {
  background-color: var(--primary-color3);
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.mobile-button:before, .mobile-button:after {
  content: "";
  position: absolute;
  top: 0;
  height: 3px;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.mobile-button span {
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  top: 50%;
  overflow: hidden;
  text-indent: 200%;
}
.mobile-button:before {
  -webkit-transform: translate3d(0, -7px, 0);
  -moz-transform: translate3d(0, -7px, 0);
  transform: translate3d(0, -7px, 0);
}
.mobile-button:after {
  -webkit-transform: translate3d(0, 7px, 0);
  -moz-transform: translate3d(0, 7px, 0);
  transform: translate3d(0, 7px, 0);
}
.mobile-button.active span {
  opacity: 0;
}
.mobile-button.active:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  -moz-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.mobile-button.active:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  -moz-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}
@media only screen and (max-width: 1024px) {
  .mobile-button {
    display: block;
  }
}

.tf-button-submit:hover {
  opacity: 0.9;
  color: #fff;
}

.is_dark .tf-button-submit:hover {
  color: #fff;
}

/* Header Fixed */
.header.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  background: var(--background-body);
  border: none;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header.is-fixed.is-small {
  top: 0;
}

.popup-user {
  display: inline-block;
  cursor: pointer;
  margin-right: 8px;
  position: relative;
}
.popup-user .avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}
.popup-user .avatar_popup {
  position: absolute;
  z-index: 100;
  right: 0;
  padding: 31px 20px;
  top: 100%;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid var(--primary-color15);
  background: var(--primary-color6);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-1rem);
  transform: translateY(-1rem);
  font-size: 16px;
  width: 311px;
}
.popup-user .avatar_popup.visible {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.popup-user .avatar_popup h6 {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 15px;
  color: var(--primary-color5);
}
.popup-user .avatar_popup .title {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 5px;
  color: var(--primary-color5);
}
.popup-user .avatar_popup .price {
  margin-bottom: 10px;
}
.popup-user .avatar_popup .price .style {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #5142FC;
}
.popup-user .avatar_popup .code {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 14px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--primary-color4);
}
.popup-user .avatar_popup .code p {
  font-size: 14px;
  line-height: 22px;
}
.popup-user .avatar_popup .code svg path {
  fill: var(--product-color5);
}
.popup-user .avatar_popup .links li {
  padding: 8px 0;
}
.popup-user .avatar_popup .links li:first-child {
  padding-top: 0;
}
.popup-user .avatar_popup .links li:last-child {
  padding-bottom: 0;
}
.popup-user .avatar_popup .links a {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: left;
}
.popup-user .avatar_popup .links a svg {
  margin-right: 13px;
}
.popup-user .avatar_popup .links a svg path {
  fill: var(--primary-color14);
}
.popup-user .avatar_popup .links a span {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
}

.logo-light {
  display: block;
}

.logo-dark {
  display: none;
}

.is_dark .logo-light {
  display: none;
}
.is_dark .logo-dark {
  display: block;
}

/*# sourceMappingURL=header.css.map */
